html, body {
	padding: 0;
	margin: 0;
}
body {
	background-color: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
	color: #2c2c2c; 
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 50px 45px 60px;
	background-color: #ffffff;
	box-shadow: 0 5px 5px rgba(0,0,0,.3);
} 
.container {
	margin: 0;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

 .logo{
	margin-bottom: 40px;
}
.logo img {
	margin: 0;
	width: 145px;
	height: 40px;
}
.header-minu {
	margin-bottom: 40px;
	background: linear-gradient(to top, #444343 0%, #5e5e5e 100%);
}

.header-minu ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.header-minu li {
	display: inline-block;
}
.header-minu a { 
	display: block;
	color: #ffffff;
	padding: 5px 25px;
	text-decoration: none;
	font-size: 15px;
	text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.5); 
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
	line-height: 30px;
}

.header-minu  li a:hover {
	border-left: solid 1px #838383;
	border-right: solid 1px #838383;
	background: linear-gradient(to top, #2e2e2e 0%, #4a4a4a 100%);
}

.side-menu {
	float: left;
	width: 240px;
}
.main-article {
	float: right;
	width: 678px;
	margin-bottom: 58px;
}
.side-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.side-menu li {
	border: solid 1px #c8c8c8;
}
.side-menu li:not(:last-child) {
	border-bottom: none;
}
.side-menu li a {
	display: block;
	padding: 13px 23px;
	text-decoration: none;
	font-size: 13px;
	line-height: 13px;
	color: #656363;}

.side-menu li a:hover {
	text-indent: 10px;
	background-color: #f9f9f9;
}
.side-menu .active  {
	font-weight: bold;
}

.article-presentation {
	margin: 0;
	margin-bottom: 39px;
	border: solid 1px #c8c8c8;
	padding: 47px 89px 46px;
	text-align: center;
}
.article-presentation img {
	width: 500px;
	height: 307px;
}

.article-description {
	padding: 0 15px;
	font-size: 13.33px;
	line-height: 21.33px;
}

.site-footer {
	background-color: #e1e1e1;
	color: #2c2c2c;
}
.bottom-menu {
	float: left;
	max-width: 750px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.bottom-menu li {
	display: inline-block;
	
}

.bottom-menu a {
	display: block;
	padding: 5px 26px;
	text-decoration: none;
	font-size: 13px;
	line-height: 30px;
	color: #2c2c2c; 
}
.bottom-menu .active {
	text-decoration: underline;
}
.copyright {
	float: right;
	padding: 5px 24px;
	margin: 0;
	font-size: 13px;
	line-height: 30px;
	text-align: right;
}